.temperature-card {
  min-width: 70px;
  min-height: 70px;
  display: flex;
  flex-direction: column;

  i.fa,
  i.wi {
    display: flex;
    color: #666;
    font-size: 4rem;
    width: 90px;
    height: 90px;
    justify-content: center;
    align-items: center;
  }

  i.wi {
    font-size: 3.5em;
  }

  .temp-value {
    margin-top: 0.5rem;
    font-size: 1.8rem;
  }
}
